.ng-touched .ng-invalid{
    border-style: none;
    border: 1px solid red;

}
.form-control.ng-touched.ng-valid{
    border: 1px solid green;
}
.hero-section{
    width: 100%;
    height: 526px;
    margin-top: 22px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: linear-gradient(55deg,rgb(37, 131, 238), rgb(111, 200, 252))  ;
    position: relative;
    z-index: 5;
    /* box-shadow: 0px 13px 24px #888888; */
}

.hero-section::before{
    content : '';
    background:#eee;
    /* height:100%; */
    max-width: 100%;
    width:100%;
    z-index: -5;
    position: absolute;
    left:0px;
    bottom:0px;
    height: 120px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    box-shadow: 0px 7px 24px #888888;




}
.form-control{
    background-color: #f7f5f5;
}
.input-container{
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    margin-bottom: 30px;
}
.signup-box{
    width: 40%;
    background: transparent;
    left: 0;
}
.signup-form{
    width: 37%;
    /* border: 1px solid red; */
    background-color: white;
    height: auto;
    flex-wrap: nowrap;
    right: 30px;
    z-index: 1;
    
}
.btn-wraper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 57px;
    
}
.btn-sign{
    margin-top: 15px;
    /* text-align: center; */
    width: 123px;
    padding: 11px 10px;
    font-size: small;
    border-radius: 23px;
    background-color: #29a746;
     /* width: 100%; */    
}
.btn-forgot-password{
    text-align: center;
}
.btn-sign a{
    color: white;
}
.signup-img{
   width: 100%;
   height: 60%;
   background-image: url('../../../images/signup.png');
   background-repeat: no-repeat;
   margin: auto;
}
.signup-inner-container{
    /* border: 1px solid blue; */
    margin: auto;
    padding: 45px;
    height: auto;
    padding-bottom: 0px;
}
.signup-inner-container h6{
    font-size: 31px;
    text-align: center;
    padding-bottom: 40px;
}
/* .signup-checkbox{
    margin-right: 10px;
    padding: 5px;
} */
.signin-text{
    text-align: center;
}
.signup-checkbox-lable{
    margin: 0 5px 0 0;
    padding: 0;
    width: 20px;
    height: 20px;
}
.signup-checkbox{
    width: 100%;
    display: flex;
    flex-direction: row;
    line-height: 18px;
}
.signup-checkboxl{
    margin-left: 0px;
}
.btn-register{
    margin: auto;
    width: 100%;
    margin-top: 10px;
    color: white;
    background-color: #017aff;
    border-radius: 21px;
    padding: 7px;
    text-decoration: none;
    border-style: none;
    box-shadow: 0px 7px 24px #888888;
}
.btn-register a{
    color: white;
}
.signup-inner-container .btn-wraper{
    display: none;
}
.navlist a:active{
    color: black;
  }



@media screen and (max-width: 768px) and (min-width: 320px){
    .signup-img {
      display: none;
    }
    .signup-form{
        /* flex-wrap: wrap; */
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
    }
    .btn-wraper{
        /* flex-direction: row;
        bottom: 0px;
        margin-bottom: 30px;
        justify-content: space-between; */
        display: none;
    }
    .hero-section{
        display: flex;
        flex-direction: column-reverse;
    }
    .btn-sign{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        /* padding: 9px 20px; */
        text-align: center;
        margin-left: 0px;
        border-radius: 21px;
    }
    .signup-inner-container .btn-wraper{
        display: block;
        flex-direction: row;
        padding-bottom: 30px;

    }

  }
